/* CAROGRAPH */
.carograph {
    min-height: 100vh;
    overflow: auto;
    display: flex;
}

.carograph .side-container {
    min-width: 25vw;
    max-width: 25vw;
    height: 100vh;
    overflow: hidden;
    float: left;
    color: #f3f3f3;
    flex-direction: column;
    align-items: left;
    background-image: linear-gradient(to top right, rgba(63, 101, 226, 0.3), rgba(63, 101, 226, 1));
    background-position: center;
    transition: .25s ease-in-out;
}

.carograph .side-container .close-menu-icon {
    float: right;
    color: #f3f3f3;
    cursor: pointer;
}

.carograph .side-container .close-menu-icon i {
    font-size: 28px;
}

.carograph .side-container .profile {
    border-left: 4px solid #ff8742;
    padding: 0 0 0 20px;
    margin: 0 0 40px 0;
}

.carograph .profile .profile-img {
    max-width: 75%;
    /* max-width: 180px;
    max-height: 240px;
    min-width: 135px;
    min-height: 180px; */
    border: 2px solid #f3f3f3;
}

.carograph .profile .profile-name {
    margin: 10px 0 3px 0;
    font-size: 22px;
    font-weight: bold;
}

.carograph .profile .profile-enrollment {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.carograph .side-container .options {
    margin: 0 0 40px 0;
}

.carograph .options button.btn {
    display: flex;
    vertical-align: middle;
    width: 100%;
    min-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 25px 0;
    padding: 4.5px 0 0 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    box-shadow: 0px 1px 7px 0px rgba(0, 15, 65, 0.75);
    border-left: 4px solid #f08649;
    border-radius: 2px;
    background: #426cf5;
    color: #f3f3f3;
    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.carograph .options button.btn:hover {
    background: #3f65e2;
    box-shadow: 0px 1px 7px 0px rgb(0, 15, 65);
}

.carograph .options button.btn i {
    font-size: 22px;
    color: #f3f3f3;
    margin: 0 10px 0 0;
}

.carograph .side-container .campus {
    border-left: 4px solid #ff8742;
    padding: 0 0 0 20px;
    margin: 0 0 40px 0;
}

.carograph .campus .campus-name a {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #f3f3f3;
    text-decoration: none;
}

.carograph .campus .campus-name a:hover {
    text-decoration: underline;
}

.carograph .page-content {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 30px 45px;
    flex-direction: column;
    background: #f3f3f3;
}


.carograph .page-content .open-menu-icon {
    float: left;
    position: fixed;
    margin-left: -30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    animation: open-menu-icon-animation 2s ease-in-out 0s infinite normal;
}

@keyframes open-menu-icon-animation {
    0%   {margin-left: -55px; color: rgba(63, 101, 226, 0.5)}
    50%  {margin-left: -40px; color: rgba(63, 101, 226, 0.75)}
    100% {margin-left: -55px; color: rgba(63, 101, 226, 0.5)}
}


.carograph .page-content .open-menu-icon:hover {
    color: #3f65e2 !important;
}

.carograph .page-content .open-menu-icon i {
    font-size: 46px;
    animation: open-menu-icon-animation-i 2s ease-in-out 0s infinite normal;
}

@keyframes open-menu-icon-animation-i {
    0%   {font-size: 38px;}
    50%  {font-size: 52px;}
    100% {font-size: 38px;}
}

.select-bar {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-position: center;
    box-shadow: 0 1px 5px -2px #426cf5;
    padding: 0 3em;
  }
  
  .select-filter {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  .select-item {
    margin-right: 1em;
  }
  
  .select-item select {
    border: 2px solid rgb(129, 158, 236);
    border-radius: 5px;
    color: #426cf5;
    padding: 5px;
  }
  
  .select-item select::-ms-expand {
    border-radius: 0;
  }

  .pedagogue-img {
    height: 50px;
    width: 50px;
    border: 1px solid #426cf5;
    border-radius: 200px;
    cursor: pointer;
  }