<strong>Redefinição de Senha</strong>

<p>Uma solicitação de redefinição de senha foi solicitada para o email ({{ email }}).</p>

<p>Para continuar, utilize o token ({{ token }}) ou clique no link a seguir.</p>

<a href="{{ redirect }}">Criar nova senha</a>
