@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  font-family: 'Roboto', sans-serif, Arial;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, h2, h3, h4 {
  margin: 0;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.Carograph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-menu {
  width: 30vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: linear-gradient(-0deg, #426cf5, rgb(173, 192, 246));
  background-position: center;
}
.header-menu {
    padding: 0 0 30px 0;
    margin: 0 0 15px 0;
    /*border-bottom: 2px solid #fff;*/
    box-shadow: 0px 1px 3px -2px white;
    position: relative;
    
}

.profile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-img {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 180px;
  max-height: 240px;
  min-width: 135px;
  min-height: 180px;
  overflow: hidden;
  border: 2px solid #fff;
}

.profile-img img {
    max-width: 120%;
    top: 50%;
    transform: translate(0, -50%);
  position: absolute;
}

.profile-name {
  color: #fff;
  margin: 10px 0;
  font-size: 16pt;
}

.options-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.options-title {
  color: #fff;
  position: relative;
}

.options-title::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0 0 0 10px;
  height: 2px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 65%;
  border-radius: 5px;
  background-color: #fff;
}

.options-btn {
  width: 90%;
  border-radius: 2px;
  border-left: 3px solid #f08649;
  background-color: #426cf5c2;
  padding: 1em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  margin: 1em 0 0 0;
}

.side-menu .options-menu .options-btn:hover {
  background-color: #fff;
}

.options-btn .options-btn-label {
  color: #fff;
}

.options-btn:hover .options-btn-label{
    color: #426cf5;
}

.campus-name a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.campus-name a:hover {
  text-decoration: underline;
}

.page-content {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding: 0em 0px 0em 0px;
}

.select-bar {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-position: center;
  box-shadow: 0 1px 5px -2px #426cf5;
  padding: 0 3em;
}

.select-filter {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.select-item {
  margin-right: 1em;
}

.select-item select {
  border: 2px solid rgb(129, 158, 236);
  border-radius: 5px;
  color: #426cf5;
  padding: 5px;
}

.select-item select::-ms-expand {
  border-radius: 0;
}

.pedagogue-img {
  height: 50px;
  width: 50px;
  border: 1px solid #426cf5;
  border-radius: 200px;
  cursor: pointer;
}

.carograph {
  width: 100%;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.students-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.student {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 270px;
  margin: 2px;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.5); /*rgb(129, 158, 236);#426cf5c2*/
  border-radius: 5px;
  overflow: hidden;
}

.student img {
  width: 100%;
}

.student_name {
  display: flex;
  flex-grow: 1;
  width: 100%;/*rgb(173, 192, 246);
  border: 1px solid white;
  border-radius: 5px;*/
}

.student_name p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 5px;
  background: white;
}